body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  padding: 0;
}

.containerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('./assets/avion.jpg');
  background-size: 1900px 1100px;
}

.containerForm {
  font-weight: bold;
  margin: 10rem auto;
  text-align: center;
  width: 68%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 10px 10px 29px -13px rgba(0, 0, 0, 0.75);
  text-align: center;
  overflow: hidden;
}

.headerForm {
  display: flex;
  width: 100%;
  justify-content: end;
  opacity: 0.4;
  background-color: white;
  padding-top: 25px;
}

.headerFormTitle {
  margin: 30px auto;
  border-bottom: 3px solid #333;
  padding-bottom: 15px;
  width: 84%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: blue;
}


.searchForm {
  background-color: white;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  bottom: 0px !important;
  padding: 30px;
}

.searchFormSelect {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 8vh;
  align-items: center;
  margin-bottom: 30px;
}

.searchFormSelectBorder {
  display: flex;
  flex-direction: row;
  height: 8vh;
  align-items: center;
  width: 15rem;
  justify-content: space-between;
}

.borderFormSelect{
  border: 1px solid #150baa;
}

.searchFormDestiny {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.containerDates {
  display: flex;
  flex-direction: column;
}

.inputCityOrigin {
  width: 135%;
 
  height: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.inputCityDestiny {
  width: 135%;
  
  height: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.searchFormDestinyList {
  border: 1px solid;
  border-radius: 5px;
  height: 150px;
  overflow-y: scroll;
  width: 250px;
  margin: 10px auto 0;
}


.searchFormDestinyList p {
  cursor: pointer;
  margin: 0 5px;
  padding: 2.5px 0;
}

.searchFormDestinyList p:hover {
  background-color: #e6e6e6;
}

.inputFrom {
  height: 12px;
  width: 108%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.inputTo {
 
  height: 12px;
  width: 108%;
  margin-top: 3px;
  border-radius: 10px;
}

.buttonSearch {
  background: linear-gradient(to bottom, #2658e3, #150baa);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  height: 55px;
  width: 14rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  margin-right: 50px;
  text-align: center;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(to bottom, #10286b, #09026b);
}

label {
  font-weight: bold;
  color: #0e0f25;
}

input[type="date"]::placeholder {
  color: transparent;
}

input[type="date"]::-webkit-input-placeholder {
  color: transparent;
}

input[type="date"]::-moz-placeholder {
  color: transparent;
}

input[type="date"]::-ms-input-placeholder {
  color: transparent;
}

input[type='text'],
input[type='date'],
input[type='number'] {
  padding: 10px;
  border: 1px solid #2658e3;
  
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.searchFormDestinyDropdown{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 148%;
  border: 1px solid #150baa;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contentCardFlight {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #f0f0f0, #e6e6e6);
  width: 80%;
  margin: 30px auto;
  justify-content: space-between;
  border: 1px solid #aaaaaa;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.contentCardFlight p {
  font-size: 15px;
  font-weight: bold;
  font-weight: 400;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cardSearch {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
}

.cardLine {
  display: flex;
  border-bottom: solid 2px black;
  width: 17%;
  height: 105px;
  align-items: end;
  text-align: center;
  justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
}

.pagination-button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #e0e0e0;
  color: #ffffff;
}

.pagination-button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}

.active-page {
  background-color: #007bff;
  color: white;
}


@media (max-width: 760px) {

  .containerGeneral{
    background-image: none;
    background-color: rgb(188, 194, 232);
  }

  .searchFormSelectBorder {
    display: flex;
    flex-direction: row;
    height: 8vh;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-left: 20px;
  }

  .searchForm{
    width: 84%;
  }

  .searchFormSelect{
    justify-content: center;
  }
  
  .containerForm {
    height: 70%;
    display: flex;
    flex-direction: column;
  }

  .searchFormDestiny{
    display: flex;
    flex-direction: column;
    width: 80%;
  }



  .contentCardFlight p {
    font-size: 10px;
    font-weight: 100;
  }

  .cardLine {
    display: none;
    border-bottom: none;
    width: none;
    height: none;
    align-items: none;
    text-align: none;
  }
}
